<h2><%= @members.count %> Results </h2>
<% @members.each do |member| %>
  <ul class='member'>
    <p class='name'>Name: <%= member[:name] %>
    <% if member[:role] %>
      <p class='role'>Role: <%= member[:role] %>
    <% end %>
    <p class='house'>House: <%= member[:house] %>
    <% if member[:patronus] %>
      <p class='patronus'>Patronus: <%= member[:patronus] %></p>
    <% end %>
  </ul><hr>
<% end %>
